---
import Heading1 from '@components/atoms/Heading1.astro'
import Layout from '@layouts/Layout.astro'
import Main from '@layouts/Main.astro'
import { CALLS_INFO } from '@data/CALLS_INFO'
import { normalizePath } from '@utils/normalizePath'
import Section from '@components/molecules/Section.astro'
import Card from '@components/atoms/Card.astro'
console.log(normalizePath('Ilustración'))

export const getStaticPaths = () => {
  return CALLS_INFO.map(
    ({ title, description, bases, basesExternal, form }) => {
      return {
        params: { calls: `convocatoria-${normalizePath(title)}` },
        props: { title, description, bases, basesExternal, form },
      }
    }
  )
}

const { title, description, bases, basesExternal, form } = Astro.props

const banner =
  title === 'Música'
    ? 'after:bg-[url(/Musicosbanner.png)]'
    : 'after:bg-[url(/Ilustradoresbanner.png)]'
---

<Layout title=`Convocatoria ${title}`>
  <Main>
    <Heading1 beforeTitle="Frijol Mágico 2024">
      {title}
    </Heading1>
    <h2 class="text-center text-xl sm:text-4xl px-4 sm:px-8">
      {description}
    </h2>
    <article class="flex flex-col gap-20 pt-20">
      <Section
        title="1. Lee las Bases"
        withLink={{
          text: 'Ver desde Google Docs',
          href: `https://docs.google.com/document/d/${basesExternal}/edit?usp=sharing`,
          target: '_blank',
        }}
      >
        <Card class="bg-s-blue hidden sm:block">
          <iframe
            class="w-full aspect-video lg:ml-[5.7vw] xl:ml-[5vw] 2xl:ml-[3.5vw]"
            src=`https://docs.google.com/document/d/e/${bases}/pub?embedded=true`
          ></iframe>
        </Card>
      </Section>
      <Section title="2. Llena el Formulario">
        <Card
          Element="a"
          href={`https://docs.google.com/forms/d/e/${form}/viewform?usp=sharing`}
          class={`${banner} after:bg-cover after:w-full after:h-full after:absolute after:-z-10 after:hover:grayscale after:transition-[filter] w-full aspect-video grid place-content-center group`}
        >
          <p
            class="mx-auto bg-s-pink px-6 group-hover:opacity-100 opacity-0 transition-opacity duration-150 py-3 font-galindo rounded-full"
          >
            Ir al Formulario
          </p>
        </Card>
      </Section>
      <Section
        title="3. Gracias por Participar!"
        withLink={{ text: 'Volver al Inicio', href: '/' }}
      />
    </article>
  </Main>
</Layout>
