---
import type { GetStaticPaths } from 'astro'
import Article from '@layouts/Article.astro'
import Layout from '@layouts/Layout.astro'
import Main from '@layouts/Main.astro'
import { ARTISTS_INFO } from '@data/ARTISTS_INFO'
import Heading1 from '@components/atoms/Heading1.astro'
import Paragraph from '@components/atoms/Paragraph.astro'
import Section from '@components/molecules/Section.astro'
import Icons from '@components/icons/Icons.astro'
import Card from '@components/atoms/Card.astro'
import { getImagesByName } from '@utils/getImagesByName'
import { Image } from 'astro:assets'
import Heading2 from '@components/atoms/Heading2.astro'

export const getStaticPaths = (() => {
  return ARTISTS_INFO.map(({ artist, id, contact, location, bio }) => {
    return {
      params: { artists: id },
      props: { artist, contact, location, bio },
    }
  })
}) satisfies GetStaticPaths

const { artists: artistId } = Astro.params
const { artist, contact, location, bio } = Astro.props

const images = getImagesByName(artist)
console.log(images)
---

<Layout>
  <Main>
    <Heading1>
      {artist}
    </Heading1>
    <Article class="-mt-20 flex flex-col gap-20 sm:gap-0">
      <section
        class="flex gap-8 justify-center md:justify-between order-1 sm:order-none items-center flex-wrap md:flex-nowrap h-fit w-full max-w-5xl mx-auto px-4 sm:px-8"
      >
        {
          images.map((image) => (
            <Card class="object-cover w-60 md:w-fit bg-white">
              <Image
                src={image}
                alt={`Ilustración realizada por ${artist}`}
                class="aspect-auto"
                style={{ aspectRatio: image.width / image.height }}
                height={300}
              />
            </Card>
          ))
        }
      </section>
      <div
        class="flex flex-col md:flex-row gap-10 sm:gap-0 mx-auto max-w-5xl w-full px-4 sm:px-8"
      >
        <section class="flex flex-col gap-4 w-full">
          <Heading2>
            Sobre {artist}
          </Heading2>
          <p class="text-lg">
            {location}
          </p>
          <Paragraph class="italic max-w-[60ch] text-pretty" text={bio} />
        </section>
        <section class="flex flex-col gap-4 w-fit">
          <Heading2>Contacto</Heading2>
          <ul class="flex gap-4 items-">
            {
              Object.entries(contact).map(([icon, href]) => {
                return (
                  <li class="hover:scale-110">
                    <a href={href} class="block w-8 text-white">
                      <Icons icon={icon} />
                    </a>
                  </li>
                )
              })
            }
          </ul>
        </section>
      </div>
    </Article>
  </Main>
</Layout>
