---
import { Image } from 'astro:assets'

import Grid from '@/components/Grid.astro'
import GridItem from '@/components/GridItem.astro'
import Spotify from '@/components/icons/Spotify.astro'
import Instagram from '@/components/icons/Instagram.astro'
import Facebook from '@/components/icons/Facebook.astro'
import CardsSkeletonAnimated from '@/components/CardsSkeletonAnimated.astro'
import { SITE } from '@/data/SITE'

import manoImage from '/public/mano.png'
import frijolImage from '/public/frijol.png'
import enredaderaEsquina from '/public/enredadera-esquina.png'
---

<Grid
  container
  class="md:grid-cols-8 md:grid-rows-10 xl:grid-cols-10 xl:grid-rows-6 grid-cols-2 grid-rows-12 h-[1200px] md:h-[80vh] xl:h-[700px]">
  <GridItem
    as="section"
    rows={{ base: 1 }}
    cols={{ base: 2, md: 8 }}
    class="uppercase bg-gradient-to-tl from-foreground to-primary text-background flex-col">
    <p class="tracking-tight sm:tracking-normal text-sm sm:text-base">
      19 de Octubre 2024 - Mall Vivo Coquimbo
    </p>
    <h2
      class="text-primary-foreground font-josefin text-xl sm:text-4xl font-black text-center tracking-widest">
      游꺔 Un nuevo germinar 游꺔
    </h2>
  </GridItem>

  <GridItem
    as="a"
    rows={{ base: 4 }}
    cols={{ base: 2, md: 3, xl: 2 }}
    href="/un-nuevo-germinar"
    class="overflow-hidden sm:overflow-visible flex-col bg-gradient-to-tr relative gap-6 hover:gap-2 transition-[gap] duration-300 group from-secondary to-accent text-secondary-foreground px-4 py-4 sm:py-0">
    <Image
      src={manoImage}
      alt="Ilustraci칩n de una mano indicando a los participantes del pr칩ximo festival"
      loading="eager"
      width={50}
      class="w-20 sm:w-auto absolute -top-12 sm:top-0 left-8 sm:left-auto rotate-90 sm:rotate-180"
    />
    <h2 class="text-2xl sm:text-xl text-center leading-7 sm:-mt-4">
      Conoce a lxs <br />
      <b
        class="uppercase font-black bg-secondary sm:bg-transparent group-hover:bg-secondary px-2 transition duration-300 text-3xl"
        >Participantes</b
      >
      <br /> del pr칩ximo festival
      <span class="block mt-2 text-4xl w-fit mx-auto">游游游游</span>
    </h2>
    <p
      class="uppercase text-center font-josefin text-lg leading-none text-white/80 group-hover:text-white transition duration-300">
      Ilustraci칩n <br /> Manualidades <br /> Narrativa Gr치fica <br /> M칰sica
    </p>
    <Image
      src={frijolImage}
      loading="eager"
      alt="Im치gen de Frijolito en la secci칩n de los participantes del pr칩ximo festival"
      width={150}
      class="w-60 sm:w-auto absolute sm:-bottom-4 -bottom-10 -right-28 sm:right-auto"
    />
  </GridItem>

  <GridItem
    as="a"
    href="/cat치logo"
    rows={{ base: 4 }}
    cols={{ base: 2, md: 3, xl: 2 }}
    class="flex-col sm:hover:scale-[1.03] text-center group bg-gradient-to-tl !justify-start py-4 sm:py-10 gap-2 from-accent to-secondary relative">
    <Image
      src={enredaderaEsquina}
      loading="eager"
      alt="Ilustraci칩n de enredadera tem치tica de Frijol M치gico"
      class="w-2/3 xl:w-auto sm:h-auto absolute bottom-0 left-0 z-10 rotate-180"
    />
    <span
      class="font-bold absolute outline outline-background -top-2 -left-2 -rotate-6 px-2 bg-accent rounded-md"
      >Nuevo!</span
    >
    <h2 class="z-10 text-5xl sm:text-4xl font-black text-secondary-foreground">
      Cat치logo
    </h2>
    <p class="z-10 pb-10 font-normal text-secondary-foreground">
      Descubre a tu pr칩ximo <br />
      <span
        class="uppercase font-bold bg-primary text-primary-foreground px-1 text-xl"
        >ilustrador favorito</span
      >
    </p>
    <CardsSkeletonAnimated />
  </GridItem>

  <GridItem
    as="section"
    rows={{ base: 2, xl: 3 }}
    cols={{ base: 2, md: 8, xl: 6 }}
    class="order-first xl:order-none uppercase relative overflow-hidden sm:p-8 p-4 bg-[url(/enredadera.png)] bg-no-repeat bg-cover bg-[0_80%]">
    <video autoplay loop muted class="absolute -z-10 w-auto">
      <source src="/FestivalFrijolMagico.webm" type="video/webm" />
    </video>
    <h1
      class="font-black text-background font-josefin text-4xl sm:text-7xl text-wrap text-center tracking-tighter leading-none">
      <span class="text-2xl sm:text-5xl">Festival</span>
      <br /> Frijol M치gico
    </h1>
  </GridItem>

  <GridItem
    as="div"
    rows={{ base: 1, xl: 2 }}
    cols={{ base: 2, md: 4 }}
    class="hidden sm:flex md:order-last xl:order-none bg-background outline-dashed outline-primary">
    <h2 class="text-2xl text-center text-primary">Pronto m치s contenidos</h2>
  </GridItem>

  <GridItem
    as="a"
    rows={{ base: 2 }}
    cols={{ base: 1, md: 2 }}
    href={SITE.podcast}
    class="bg-background sm:bg-accent text-secondary py-4 flex-col gap-2 hover:gap-0">
    <p
      class="uppercase leading-6 text-3xl text-center text-secondary font-black">
      Escucha <br /><span
        class="text-primary text-2xl sm:text-background font-bold">nuestro</span
      >
      <br />Podcast
    </p>
    <Spotify size="62" />
  </GridItem>

  <GridItem
    as="section"
    rows={{ base: 2 }}
    cols={{ base: 1, md: 2 }}
    class="flex-col gap-4 grid-rows-2 grid-cols-1 w-full h-full">
    <GridItem
      as="a"
      rows={{ base: 1 }}
      href={SITE.social_media.fb}
      class="bg-background hover:bg-secondary transition duration-150 group">
      <p
        class="font-bold uppercase flex text-secondary group-hover:text-background gap-2 items-center text-xl">
        Facebook <Facebook size="28" />
      </p>
    </GridItem>
    <p
      class="cursor-default absolute text-foreground sm:font-bold text-2xl sm:text-4xl font-josefin -rotate-6">
      S칤guenos!
    </p>
    <GridItem
      as="a"
      rows={{ base: 1 }}
      href={SITE.social_media.ig}
      class="uppercase bg-background hover:bg-accent transition duration-150 group">
      <p
        class="font-bold flex text-accent group-hover:text-background gap-2 items-center text-xl">
        Instagram <Instagram size="32" />
      </p>
    </GridItem>
  </GridItem>

  <GridItem
    as="a"
    href="https://strocs.dev"
    target="_blank"
    rows={{ base: 1 }}
    cols={{ base: 2, md: 4, xl: 2 }}
    class="text-secondary leading-none text-center [background-size:200%] hover:text-accent transition-all duration-300">
    Desarrollado con 仇벒잺 por StrocsDev
  </GridItem>
</Grid>
