---
import { Image } from 'astro:assets'

import Grid from '@/components/Grid.astro'
import GridItem from '@/components/GridItem.astro'
import Spotify from '@/components/icons/Spotify.astro'
import Instagram from '@/components/icons/Instagram.astro'
import Facebook from '@/components/icons/Facebook.astro'
import CardsSkeletonAnimated from '@/components/CardsSkeletonAnimated.astro'
import { SITE } from '@/data/SITE'

import manoImage from '/public/mano.png'
import frijolImage from '/public/frijol.png'
import enredaderaEsquina from '/public/enredadera-esquina.png'
---

<Grid
  container
  class="md:grid-cols-8 md:grid-rows-6 xl:grid-cols-10 xl:grid-rows-6 grid-cols-2 grid-rows-12 h-[1200px] md:h-[80vh] xl:h-[700px] pt-10 sm:pt-auto">
  <GridItem
    as="section"
    rows={{ base: 1 }}
    cols={{ base: 2, md: 10 }}
    class="hidden xl:block"
    >
  </GridItem>


  <GridItem
    as="a"
    href="/catalogo"
    rows={{ base: 4 }}
    cols={{ base: 2, md: 3, xl: 2 }}
    class="flex-col sm:hover:scale-[1.03] text-center group bg-gradient-to-tl !justify-start py-4 sm:py-10 gap-2 from-accent to-secondary relative">
    <Image
      src={enredaderaEsquina}
      loading="eager"
      alt="Ilustraci贸n de enredadera tem谩tica de Frijol M谩gico"
      class="w-2/3 xl:w-auto sm:h-auto absolute bottom-0 left-0 z-10 rotate-180"
    />
    <h2 class="z-10 text-5xl sm:text-4xl font-black text-secondary-foreground">
      Cat谩logo
    </h2>
    <p class="z-10 pb-10 font-normal text-secondary-foreground">
      Descubre a tu pr贸ximo <br />
      <span
        class="uppercase font-bold bg-primary text-primary-foreground px-1 text-xl"
        >ilustrador favorito</span
      >
    </p>
    <CardsSkeletonAnimated />
  </GridItem>

  <GridItem
    as="section"
    rows={{ base: 2, md: 3 }}
    cols={{ base: 2, md: 10, xl: 6 }}
    class="order-first xl:order-none uppercase relative overflow-hidden sm:p-8 p-4 bg-[url(/enredadera.png)] bg-no-repeat bg-cover bg-[0_80%]">
    <video autoplay loop muted class="absolute -z-10 w-auto">
      <source src="/FestivalFrijolMagico.webm" type="video/webm" />
    </video>
    <h1
      class="font-black text-background font-josefin text-4xl sm:text-7xl text-wrap text-center tracking-tighter leading-none">
      <span class="text-2xl sm:text-5xl">Festival</span>
      <br /> Frijol M谩gico
    </h1>
  </GridItem>

  <GridItem
    as="a"
    rows={{ base: 4 }}
    cols={{ base: 2, md: 3, xl: 2 }}
    href="/convocatoria"
    class="overflow-visible bg-gradient-to-tr relative group from-secondary to-accent text-secondary-foreground">

    <span
      class="font-bold absolute outline outline-background -top-2 -left-2 -rotate-6 px-2 bg-primary rounded-md"
      >Nuevo!</span
    >
    <div class="overflow-hidden relative size-full px-4 py-4 sm:py-0">
      <Image
        src={manoImage}
        alt="Ilustraci贸n de una mano indicando a los participantes del pr贸ximo festival"
        loading="eager"
        width={50}
        class="hidden sm:block w-auto absolute -top-12 left-0 left-0 right-0 m-auto  rotate-180"
      />

      <div class="flex flex-col hover:gap-2 gap-6 duration-300 transition-[gap] size-full items-center sm:justify-center"> 
        <h2 class="text-2xl sm:text-xl text-center leading-7 sm:-mt-4">
          Postula ya! <br />
          <b
            class="uppercase font-black bg-secondary sm:bg-transparent group-hover:bg-secondary px-2 transition duration-300 text-3xl"
            >Convocatoria</b> <br />
        <b>2025</b>
          <span class="block mt-2 text-4xl w-fit mx-auto"></span>
        </h2>
        <p
          class="uppercase text-center font-josefin text-lg leading-none text-white/80 group-hover:text-white transition duration-300">
          Ilustraci贸n <br /> Manualidades <br /> Narrativa Gr谩fica 
        </p>
      </div>

      <Image
        src={frijolImage}
        loading="eager"
        alt="Im谩gen de Frijolito en la secci贸n de los participantes del pr贸ximo festival"
        width={150}
        class="w-40 sm:w-auto absolute sm:-bottom-8 -bottom-4 -right-10 sm:-right-12"
      />
    </div> 
  </GridItem>

  <GridItem
    as="a"
    rows={{ base: 1 }}
    cols={{ base: 2, md: 4, lg: 2 }}
    href={SITE.podcast}
    class="bg-background sm:bg-accent text-secondary py-4 gap-4 hover:gap-2">
    <p
      class="uppercase leading-3 text-2xl text-center text-secondary font-black">
      Escucha <br /><span
        class="text-primary text-2xl sm:text-background font-bold">nuestro</span
      >
      <br />Podcast
    </p>
    <Spotify size="52" />
  </GridItem>

  <GridItem
    as="a"
    rows={{ base: 1 }}
    cols={{ base: 1, md: 4, lg: 2 }}
    href={SITE.social_media.fb}
    class="bg-secondary hover:scale-105 transition duration-150 group">
    <p
      class="font-bold uppercase flex text-background group-hover:text-background gap-2 items-center text-xl">
      Facebook <Facebook size="32" />
    </p>
  </GridItem>

  <GridItem
    as="a"
    rows={{ base: 1 }}
    cols={{ base: 1, md: 4, lg: 2 }}
    href={SITE.social_media.ig}
    class="uppercase bg-primary hover:scale-105 transition duration-150 group">
    <p
      class="font-bold flex text-background group-hover:text-background gap-2 items-center text-xl">
      Instagram <Instagram size="42" />
    </p>
  </GridItem>

</Grid>
