---
import LogoLink from '@components/molecules/LogoLink.astro'
import TopBarInfo from '@components/organisms/TopBarInfo.astro'
import { SITE } from '@data/SITE'
interface Props {
  title?: string
  description?: string
}

const {
  title = 'Asociación Cultural Frijol Mágico',
  description = SITE.description,
} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="lenguage" content="spanish" />
    <meta name="author" content="Frijol Mágico" />
    <meta name="audience" content="all" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="frijol.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://elfrijolmagico.cl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="elfrijolmagico.cl" />
    <meta property="twitter:url" content="https://elfrijolmagico.cl" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body
    class:list={[
      'font-sans relative h-fit w-full min-h-[100dvh] text-white bg-slate-100 noto-sans-mono',
    ]}
  >
    <TopBarInfo />
    <LogoLink />
    <div
      class="absolute h-full w-full bg-[radial-gradient(#d1dae7_1px,transparent_1px)] [background-size:16px_16px] -z-20 [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_70%,transparent_100%)]"
    >
    </div>
    <slot />
    <style is:global>
      :root {
        --top-bar-info-height: 44px;
      }
      .noto-sans-mono {
        font-family: 'Noto Sans Mono', monospace;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: 'wdth' 100;
      }
    </style>
  </body>
</html>
